{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}
