name: PR Tests

on:
  pull_request:
    branches: [main]
  workflow_call:
  workflow_dispatch:

jobs:
  pr-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm install

      - name: Run Vitest
        run: npm run test
